%table
  - @map.each do |row|
    %tr
      - row.each do |city|
        - if city.blank?
          %td &nbsp;
        - else
          %td{class: "city #{city.color}"}
            = link_to city.name, "/game/42/actions/#{city.name}", method: :post
