/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

.container {
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 5000px;
}

.board {
  table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;

    td {
      border: 1px solid black;
      height: 105px; /* 112 is just big enough for my nexus 5 */
      text-align: center;
      vertical-align: middle;
      width: 12%; /* 1/8 */

      p { margin: 0; }
      a { color: black; }
      &.blue   { background-color: #8485FF; }
      &.black  { background-color: #D6D3DA; }
      &.yellow { background-color: #FFF678; }
      &.red    { background-color: #FF5B59; }
    }
  }
}

.virus {
  height: 30px;
  img {
    width: 30px;
    height: 30px;
  }
}

.players {
  height: 40px;
  img {
    height: 40px;
  }
}

.player-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 24.8%;
  height: 210px;
  z-index: 2;

  ul {
    list-style-type: none;
    padding: 0;
  }
 
  td.role {
    text-align: right;
    img {
      height: 1em;
      position: relative;
      top: -3px;
    }
  }
  td.current {
    font-weight: bold;
  }
}

.cards {
  span {
    padding: 2px;
  }
  .blue   { background-color: #8485FF; }
  .black  { background-color: #D6D3DA; }
  .yellow { background-color: #FFF678; }
  .red    { background-color: #FF5B59; }
}